@import "tailwindcss";

/* C'est ici qu'on définit ta charte graphique Agora.Voxa */
@theme {
  --font-baloo: var(--font-baloo), sans-serif;
  --font-soleil: "Soleil", var(--font-baloo), sans-serif;
  --color-primary: #54509E;
  --color-secondary: #304E9D;
  --color-accent: #662483;
}

:root {
  --background: #f8fafc; /* Un blanc légèrement grisé très propre */
  --foreground: #0f172a; /* Un texte presque noir pour une bonne lecture */
}

body {
  background: var(--background);
  color: var(--foreground);
}